body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-image: url('./images/javascript-convert-csv-to-json.webp');
  background-size: cover;
}

h1 {
  color: #000000;
}

input[type="file"] {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #FFC600;
  border: none;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
